h1 {
	font-size: 2em;
	color: red;
	background-color: #FFF12E;
	font-family: "Comic Sans MS", serif;
	background-color: yellow;
	/*width:330px;*/
	padding:20px
	border-width: 10px;
	border-color: blue;
	border-style: groove;
	border-radius: 20px;
	margin-left: 200px;
	margin: auto;
}
#banner {
	display: block;
	margin: auto;
	padding: 20px;
}

img {
	/*background-color: red;*/
	/*padding-left: 220px;
	padding-right:160px;
	padding-bottom:130px;
	padding-top:20px;

	padding: 20px 160px 130px 220px*/
}
h2 {

	color: indigo;

}

#videogame-h2 {

	color: gold;
}

.videogame-class {

	background-color: silver;

}


#Me {
	width:100%;
}

#image-div {
	width:50%;
	background-color: maroon;
}

body { /*lel oh my goodness I am invisible!!!!!!!! Can't find me!!! rgb(red,green,blue)*/
	font-family: Oswald, "Comic Sans MS", serif;
	background-color: #FF7218
}

@media (max-width: 600px)
{
	body{
		background-color: blue;
	}

}


@media (max-width: 600px)
{
	h1 {
	text-align: center;
	font-size: 1.5em;
		}

	#controllers {
		float: none;
		width: 60%;
		display: block;
		margin: auto;
	}

}
@media (max-width: 600px) {

	h1 {
		font-size: 1.2em;
	}
	#controllers {
		width: 90%;
	}
}

@media (min-width: 800px) {
	body {
		background-color: red;
	}

}

@media (max-width: 600px) {
	h1, h2 {
		text-align: center;
		font-size: 1.2em;
	}
	#controllers, #characters {
		width: 90%;
	}
}

@media (min-width: 400px) {
	h1, h2 {
		text-align: center;
		font-size: 1.2em;
	}
	#controllers, #characters {
		width: 90%;
	}
}
